body{
    background-image: url('light2.avif');
    background-size:cover;
}

.main-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* increase the width and height of the div */
    width: 600px;
    height: 520px;
}

.input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing:border-box;
    font-size: large;
    border-radius: 10px;
    border-color: #0f0f0f;
}

form{
    border: 3px solid #f1f1f1;
    border-radius: 10px;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    padding: 10px;
    /* center the form on page */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.label{
    font-size: 20px;
    font-weight: bold;
}

.button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 24px 36px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    /* center the button */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#hovered-text{
    font-size: 24px;
    font-weight: bold;
}